  <div class="row">
    <div class="col s12 m12 l12">
     <div class="container ">
     <h3>New Lead</h3>

<%= render 'form', lead: @lead %>

<%= link_to 'Back', leads_path, :class => "waves-effect waves-light btn" %>


</div>

</div>

</div>
