@font-face {
  font-family: 'gotham-book';
  src: url('/assets/gotham-book.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'gotham-book';
  src: url('/assets/gotham-book-italic.ttf') format("truetype");
  font-style: italic;
}


@font-face {
  font-family: 'gotham-black';
  src: url('/assets/gotham-black.ttf') format("truetype");
  font-style: normal;
}

@font-face{
  font-family: 'gotham-black';
  src: url('/assets/gotham-black-italic.ttf') format("truetype");
  font-style: italic;
}

@font-face{
  font-family: 'gotham-bold';
  src: url('/assets/gotham-bold.ttf') format("truetype");
  font-style:normal ;
}


@font-face{
  font-family: 'gotham-bold';
  src: url('/assets/gotham-bold-italic.ttf') format("truetype");
  font-style: italic;
}


@font-face{
  font-family: 'gotham-light';
  src: url('/assets/gotham-light.ttf') format("truetype");
  font-style:normal ;
}


@font-face{
  font-family: 'gotham-light';
  src: url('/assets/gotham-light-italic.ttf') format("truetype");
  font-style: italic;
}

@font-face{
  font-family: 'gotham-medium';
  src: url('/assets/gotham-medium.ttf') format("truetype");
  font-style:normal ;
}


@font-face{
  font-family: 'gotham-medium';
  src: url('/assets/gotham-medium-italic.ttf') format("truetype");
  font-style: italic;
}


@font-face{
  font-family: 'gotham-thin';
  src: url('/assets/gotham-thin.ttf') format("truetype");
  font-style:normal ;
}


@font-face{
  font-family: 'gotham-thin';
  src: url('/assets/gotham-thin-italic.ttf') format("truetype");
  font-style: italic;
}


@font-face{
  font-family: 'gotham-ultra';
  src: url('/assets/gotham-ultra.ttf') format("truetype");
  font-style:normal ;
}


@font-face{
  font-family: 'gotham-ultra';
  src: url('/assets/gotham-ultra-italic.ttf') format("truetype");
  font-style: italic;
}


@font-face{
  font-family: 'gotham-x-light';
  src: url('/assets/gotham-x-light.ttf') format("truetype");
  font-style:normal ;
}



@font-face{
  font-family: 'gotham-x-light';
  src: url('/assets/gotham-x-light-italic.ttf') format("truetype");
  font-style: italic;
}
