 <div id="header-wrap">
    <div class="container">
    <header id="header" >
     <div class="row no-margin" id="nav-dektop" style="padding-bottom:5px;">
        <div class="col s12">
           <nav  id="topLevel-menu" >
             <div class="button-collapse-wrap">
                 <a href="#!" data-activates="nav-mobile" class="button-collapse btn-menu btn-floating">
                   <i class="material-icons icon-blue">menu</i>
                 </a>
             </div>

             <div class="mainLogo-wrap">
                <a href="/" target="_self" alt=""><img  class="logo" width="300" height=""  src="http://spiborescopes.com/wp-content/uploads/logo.png"  /></a>
             </div>
             <div class="phone-number right" >1.888.491.0901</div>

             <div class="iconLogo-wrap">
               <a href="#" class="btn-floating waves-effect waves-light btn-menu">
                 <i class="material-icons icon-yellow">http</i>
               </a>
             </div>


             <div class="phoneNumber-wrap">
               <a href="#" data-activates="nav-mobile" class="btn-floating waves-effect waves-light btn-menu">
                 <i class="material-icons icon-yellow">call</i>
               </a>
             </div>

             <div class="nav-content top-menu">
               <ul class="tabs left hide-on-med-and-down">
                 <li class="tab"><a class="" href="">Home</a></li>
                 <li class="tab"><a  href="">About Us</a></li>
                 <li class="tab"><a  href="">Products</a></li>
                 <li class="tab"><a  href="">Demo Now</a></li>
                 <li class="tab"><a  href="">Contacts</a></li>
               </ul>
               <ul  id="nav-mobile" class="side-nav" >
                 <li><a href=".html">Home</a></li>
                 <li><a href=".html">About Us</a></li>
                 <li><a href=".html">Produts</a></li>
                 <li><a href=".html">Demo Now</a></li>
                 <li><a href=".html">Contact</a></li>
               </ul>
             </div>
            </nav>


          </div>
        </div>
    </header>

  </div>
</div>
