<div id="header-wrap">
  <header id="header" >
   <div class="row no-margin" id="nav-dektop">
     <div class="col s12 m12 l12">
          <div class="mainLogo-wrap">LOGO</div>
          <div class="phone-number right" >1.888.491.0901</div>
      </div>
      <div class="s12">

        <nav id="topLevel-menu" class="white">
         <div class="nav-wrapper">
           <ul class="top-menu left uppercase">
             <li class="blue-text text-darken-2"><a class="waves-effect waves-yellow active" href="">Home</a></li>
             <li class=""><a href="">About Us</a></li>
             <li class=""><a href="">Products</a></li>
             <li class=""><a href="">Demo Now</a></li>
             <li class=""><a href="">Contacts</a></li>
           </ul>
         </div>
         </nav>

     </div>
   </div>
  </header>
</div>
